/***default CSS (for smallest screen sizes)***/

/***header***/

header {
	
	box-sizing: border-box;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/***nav***/

nav {
	margin-bottom: 4em;	
	ul {
		padding: 0;
		margin-top: 0;
	}
	li {
		display: inline-block;
		margin-right: 1em;
		padding-top: 0.75em;
		padding-bottom: 0.75em;
	}
	li:last-child {
		margin-right: 0;
	}
	a {
		text-decoration: none;
	}
}


/***post***/

.post, .page-post, {
	margin: 0 auto;
	width: 90%;
	margin-bottom: 4em;
}

img {
	max-width: 200px;
	display: block;
	margin: 0 auto;
}



/***about***/

.main-about {
	margin: 0 auto;
	width: 90%;
	margin-bottom: 4em;
}


/***contact***/

.main-contact {
	text-align: center;
}


/***footer***/

footer {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
