/***default CSS (for smallest screen sizes)***/

/***header***/

header {
	background-color: #008080;
	color: white;
	box-sizing: border-box;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
}

header h1 {
	font-family: Raleway, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 3em;
}

/***nav***/

nav {
	color: #333;
	margin-bottom: 4em;
	background-color: #eee;
	font-family: Raleway, Helvetica, sans-serif;
	font-weight: 400;
}

nav ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin-top: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 1em;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

nav > ul > li:last-child {
	margin-right: 0;
}


/***post***/

.post {
	margin: 0 auto;
	width: 90%;
	color: #333;
	margin-bottom: 4em;
	font-family: Raleway, Helvetica, sans-serif;
}

.post h2 {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.5em;
}

.post p {
	font-weight: 400;
	line-height: 1.4;
	font-size: 1em;
}

img {
	width: 200px;
	display: block;
	margin: 0 auto;
}

/***footer***/

footer {
	color: #333;
	background-color: #eee;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
	font-family: Raleway, Helvetica, sans-serif;
}


/***CSS for medium sized devices, ≥768px***/
@media (min-width: 768px) {
	
	.post {
		max-width: 600px;
	}
}


/*** CSS for large size devices, ≥992px***/
@media (min-width: 992px) {

	.post-container {
		margin: 0 auto;
		max-width: 1000px;
	}

	.post {
		display: inline-block;
		box-sizing: border-box;
		max-width: 300px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.post:nth-of-type(3n+2) {
		margin-right: 30px;
		margin-left: 30px;
	}

}